<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.AppConfigFactory"/>
  </configSections>
  <morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebService.V2.Client, Morpher.WebService.V2">
        <!-- Не забудьте сменить логин и пароль на свои: http://morpher.ru/Register.aspx -->
        <parameters url="http://morpher.ru/WebService.asmx" username="morpherapisamples" password="declension123"/>
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling, Morpher.API"/>
    </interfaces>
  </morpher>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>