<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="morpher" type="Morpher.AppConfig.ConfigurationSectionHandler, Morpher.AppConfigFactory"/> 
    </configSections>
  <morpher>
    <objects>
      <add name="WebServiceClient" type="Morpher.WebService.V3.Client, Morpher.WebService.V3">
        <!-- Не забудьте сменить token на свой: http://morpher.ru/Register.aspx -->
        <parameters url="https://ws3.morpher.ru" token="a8dab5fe-7a47-4c17-84ea-46facb7d19fe"/>
      </add>
    </objects>
    <interfaces>
      <add object="WebServiceClient" interface="Morpher.Russian.IDeclension, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Russian.INumberSpelling, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.IDeclension, Morpher.API"/>
      <add object="WebServiceClient" interface="Morpher.Ukrainian.INumberSpelling, Morpher.API"/>
    </interfaces>
  </morpher>
</configuration>
